# Explore here

In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 
#------------ PREPROCESING --------------
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
# ----------- MACHINE LEARNING ----------
from sklearn.neighbors import KNeighborsClassifier
# ----------- METRICS -------------------
from sklearn.metrics import accuracy_score
#------------ OPTIMIZATION --------------
from sklearn.model_selection import GridSearchCV

In [165]:
# df_movies_raw =  pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv')

# df_credits_raw =  pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv')

In [166]:
# df_movies_raw.to_csv('../data/raw/tmdb_5000_movies.csv')
# df_credits_raw.to_csv('../data/raw/tmdb_5000_credits.csv')

In [167]:
df_movies_raw = pd.read_csv('../data/raw/tmdb_5000_movies.csv')
df_credits_raw = pd.read_csv('../data/raw/tmdb_5000_credits.csv')

In [168]:
df_movies_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4803 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4803 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 788.1+ KB

In [169]:
df_movies_raw.sample(10)

,Unnamed: 0,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
723,723,60000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...",http://www.thehappeningmovie.com,8645,"[{""id"": 3352, ""name"": ""tree""}, {""id"": 5096, ""n...",en,The Happening,When a deadly airborne virus threatens to wipe...,20.501582,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-06-11,163403799,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,We've Sensed It. We've Seen The Signs. Now... ...,The Happening,4.9,950
2256,2256,0,"[{""id"": 10751, ""name"": ""Family""}]",NaN,112937,[],en,The Oogieloves in the Big Balloon Adventure,"It's Schluufy's birthday, and the Oogieloves (...",0.285760,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-08-29,0,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Oogieloves in the Big Balloon Adventure,2.2,8
4456,4456,800000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.lhp.com.sg/victor/,25461,"[{""id"": 10183, ""name"": ""independent film""}]",en,Raising Victor Vargas,"The film follows Victor, a Lower East Side tee...",3.643662,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-05-16,2816116,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Raising Victor Vargas,7.8,13
1236,1236,40000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",NaN,10391,"[{""id"": 1156, ""name"": ""sister sister relations...",en,Bless the Child,When Maggie's sister Jenna saddles her with an...,3.321949,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2000-08-11,0,107.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mankind's last hope just turned six.,Bless the Child,4.9,71
401,401,68000000,"[{""id"": 10752, ""name"": ""War""}]",NaN,853,"[{""id"": 1442, ""name"": ""winter""}, {""id"": 1589, ...",en,Enemy at the Gates,Enemy at the Gates is a war film from Jean-Jac...,41.273567,...,"[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}, {""is...",2001-03-13,96976270,131.0,"[{""iso_639_1"": ""de"", ""name"": ""Deutsch""}, {""iso...",Released,Some Men Are Born To Be Heroes.,Enemy at the Gates,7.2,999
4573,4573,0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",http://www.wie-im-himmel-derfilm.de/start.html,464,"[{""id"": 30, ""name"": ""individual""}, {""id"": 240,...",sv,Så som i himmelen,A musical romantic tragedy about a famous comp...,4.321249,...,"[{""iso_3166_1"": ""SE"", ""name"": ""Sweden""}]",2004-09-03,0,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,As It Is in Heaven,6.9,42
741,741,61000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",http://www.shootermovie.com/,7485,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 158...",en,Shooter,A marksman living in exile is coaxed back into...,37.378081,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-03-22,95696996,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Yesterday was about honor. Today is about just...,Shooter,6.9,1462
3709,3709,2000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",NaN,12079,"[{""id"": 10183, ""name"": ""independent film""}, {""...",en,Spun,"Over the course of three days Ross, a college ...",6.249262,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-06-01,0,101.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The ultimate speed freak's tale.,Spun,6.6,132
2947,2947,10000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",NaN,30973,"[{""id"": 2618, ""name"": ""miracle""}, {""id"": 2974,...",en,The Visual Bible: The Gospel of John,A word for word depiction of the life of Jesus...,3.208172,...,"[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2003-09-11,4069090,125.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,For God loved the world So much...,The Visual Bible: The Gospel of John,8.2,12
3799,3799,4000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,81390,"[{""id"": 321, ""name"": ""terror""}, {""id"": 388, ""n...",en,A Lonely Place to Die,A group of five mountaineers are hiking and cl...,8.307230,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2011-04-09,25345000,99.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"Out here, there's nowhere to hide.",A Lonely Place to Die,6.2,157

In [170]:
df_credits_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4803 non-null   int64
 1   movie_id    4803 non-null   int64
 2   title       4803 non-null   object
 3   cast        4803 non-null   object
 4   crew        4803 non-null   object
dtypes: int64(2), object(3)
memory usage: 187.7+ KB

In [171]:
df_credits_raw.sample(10)

,Unnamed: 0,movie_id,title,cast,crew
1670,1670,9053,DOA: Dead or Alive,"[{""cast_id"": 1, ""character"": ""Tina Armstrong"",...","[{""credit_id"": ""52fe44d6c3a36847f80ad00b"", ""de..."
2332,2332,5279,Gosford Park,"[{""cast_id"": 2, ""character"": ""Mrs. Wilson"", ""c...","[{""credit_id"": ""52fe4401c3a36847f807ceab"", ""de..."
2747,2747,9448,The Big Hit,"[{""cast_id"": 13, ""character"": ""Melvin Smiley"",...","[{""credit_id"": ""52fe44f8c3a36847f80b50a9"", ""de..."
65,65,155,The Dark Knight,"[{""cast_id"": 35, ""character"": ""Bruce Wayne"", ""...","[{""credit_id"": ""55a0eb4a925141296b0010f8"", ""de..."
4484,4484,26837,B-Girl,"[{""cast_id"": 1, ""character"": ""Angel (as Jules ...","[{""credit_id"": ""52fe451cc3a368484e049161"", ""de..."
4631,4631,2255,Chasing Amy,"[{""cast_id"": 1, ""character"": ""Holden McNeil"", ...","[{""credit_id"": ""52fe4346c3a36847f8047c0b"", ""de..."
1457,1457,9311,Smilla's Sense of Snow,"[{""cast_id"": 12, ""character"": ""Smilla Jasperso...","[{""credit_id"": ""52fe44e5c3a36847f80b07fd"", ""de..."
4019,4019,25636,Jesus' Son,"[{""cast_id"": 1, ""character"": ""FH"", ""credit_id""...","[{""credit_id"": ""59989eeec3a368207e010396"", ""de..."
4521,4521,14271,Beyond the Mat,"[{""cast_id"": 1, ""character"": ""Himself"", ""credi...","[{""credit_id"": ""58d5ec49c3a368127c03493c"", ""de..."
929,929,6950,Outbreak,"[{""cast_id"": 1, ""character"": ""Sam Daniels"", ""c...","[{""credit_id"": ""52fe446ac3a36847f80949df"", ""de..."

In [172]:
#Convert the dataframes 
conn = sqlite3.connect('../data/raw/Movies_Database.db') 

df_movies_raw.to_sql('movies', con=conn, if_exists="replace", index=False)

df_credits_raw.to_sql('credits', con=conn, if_exists="replace", index=False)

4803

In [173]:
#Create the SQL Query
query = """
SELECT movie_id, movies.title, overview, genres, keywords, [cast], crew
FROM movies
INNER JOIN credits ON movies.title = credits.title
"""

In [174]:
df_processed = pd.read_sql_query(query, conn)

df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [175]:
df_processed.sample(10)

,movie_id,title,overview,genres,keywords,cast,crew
4109,8885,Waltz with Bashir,"Much awarded animated documentary, in which di...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 16, ""name...","[{""id"": 536, ""name"": ""israel""}, {""id"": 537, ""n...","[{""cast_id"": 18, ""character"": ""Himself (voice)...","[{""credit_id"": ""52fe44c4c3a36847f80a900d"", ""de..."
947,588,Silent Hill,The eerie and deserted ghost town of Silent Hi...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 9648, ""n...","[{""id"": 1299, ""name"": ""monster""}, {""id"": 2784,...","[{""cast_id"": 13, ""character"": ""Rose Da Silva"",...","[{""credit_id"": ""52fe4258c3a36847f801715d"", ""de..."
3782,27551,The Barbarians,Orphaned brothers Kutchek and Gore are adopted...,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...","[{""id"": 12554, ""name"": ""dragon""}, {""id"": 14665...","[{""cast_id"": 1, ""character"": ""Kutchek"", ""credi...","[{""credit_id"": ""58b45b74c3a368525401aa86"", ""de..."
3332,45650,The Hole,"After moving into a new neighbourhood, brother...","[{""id"": 53, ""name"": ""Thriller""}, {""id"": 12, ""n...","[{""id"": 9866, ""name"": ""basement""}, {""id"": 1561...","[{""cast_id"": 2, ""character"": ""Dane Thompson"", ...","[{""credit_id"": ""52fe46cdc3a36847f8112ec1"", ""de..."
3183,1619,The Way of the Gun,Parker and Longbaugh are a pair of low-level p...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 75, ""name"": ""gunslinger""}, {""id"": 534,...","[{""cast_id"": 1, ""character"": ""Mr. Longbaugh"", ...","[{""credit_id"": ""5712d0029251410aab00430a"", ""de..."
1069,7453,The Hitchhiker's Guide to the Galaxy,Mere seconds before the Earth is to be demolis...,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 35, ""...","[{""id"": 211, ""name"": ""bureaucracy""}, {""id"": 39...","[{""cast_id"": 12, ""character"": ""Arthur Dent"", ""...","[{""credit_id"": ""52fe447ec3a36847f809962f"", ""de..."
1573,82696,Hope Springs,"After thirty years of marriage, a middle-aged ...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 188098, ""name"": ""renewing wedding vows...","[{""cast_id"": 13, ""character"": ""Kay"", ""credit_i...","[{""credit_id"": ""52fe486f9251416c9108c445"", ""de..."
1853,11676,Nothing to Lose,Advertising executive Nick Beame learns that h...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 897, ""name"": ""rap music""}, {""id"": 1326...","[{""cast_id"": 10, ""character"": ""Nick Beam"", ""cr...","[{""credit_id"": ""52fe44769251416c75035b09"", ""de..."
4755,16388,The Brothers McMullen,Deals with the lives of the three Irish Cathol...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 9673, ""name"": ""love""}, {""id"": 10183, ""...","[{""cast_id"": 1, ""character"": ""Susan"", ""credit_...","[{""credit_id"": ""52fe46cf9251416c750843a3"", ""de..."
2232,10929,Willard,"Desperate for companionship, the repressed Wil...","[{""id"": 27, ""name"": ""Horror""}]","[{""id"": 5812, ""name"": ""bad boss""}, {""id"": 7717...","[{""cast_id"": 1, ""character"": ""Willard Stiles"",...","[{""credit_id"": ""56bc7053c3a3683ea60021f6"", ""de..."

In [176]:
import json

def get_json_list(json_str, key_name):
    try:
        
        json.loads(json_str)
        return [item[key_name] for item in json.loads(json_str)]
    
    except (json.JSONDecodeError, TypeError):

        return None

def get_json_element_with_filter(json_str, filter_key_name, filter_key_value, target_key):
    try:
        
        json_object = json.loads(json_str)

        for element in json_object:
            if element[filter_key_name] == filter_key_value:
                return element[target_key]
        return None
    
    except (json.JSONDecodeError, TypeError):

        return None

In [177]:
import re

df_processed['genres'] = df_processed['genres'].apply(lambda x: get_json_list(x,'name'))
df_processed['keywords'] = df_processed['keywords'].apply(lambda x: get_json_list(x,'name'))
df_processed['cast'] = df_processed['cast'].apply(lambda x: get_json_list(x,'name')[:3])
df_processed['crew'] = df_processed['crew'].apply(lambda x: get_json_element_with_filter(x, 'job', 'Director', 'name'))
df_processed['overview'] = df_processed['overview'].apply(lambda x: [element for element in re.split(',',x)] if pd.notna(x) else None)
df_processed.sample(10)

,movie_id,title,overview,genres,keywords,cast,crew
4521,89857,High Road,"[Directed by Matt Walsh, a co-founding member...",[Comedy],[],"[Kathryn Burns, Lizzy Caplan, Michael Coleman]",Matt Walsh
2451,4584,Sense and Sensibility,"[Rich Mr. Dashwood dies, leaving his second w...","[Drama, Romance]","[bowling, based on novel, servant, country lif...","[Kate Winslet, Emma Thompson, Hugh Grant]",Ang Lee
4276,309,The Celebration,[A grandiose party to celebrate a sixtieth bir...,[Drama],"[suicide, father son relationship, child abuse...","[Ulrich Thomsen, Henning Moritzen, Thomas Bo L...",Thomas Vinterberg
3396,24985,The Heart of Me,"[Drama set in 1930s London with two sisters, ...","[Drama, Romance]",[],"[Helena Bonham Carter, Olivia Williams, Paul B...",Thaddeus O'Sullivan
3581,16096,House Party 2,[Kid'N'Play leave their neighborhood and enter...,[Comedy],[],"[Martin Lawrence, Christopher Martin, Christop...",Doug McHenry
3772,11013,Secretary,"[A young woman, recently released from a ment...","[Comedy, Drama, Romance]","[suicide, clerk, fetish, sadomasochism, lawyer...","[James Spader, Maggie Gyllenhaal, Jeremy Davies]",Steven Shainberg
227,37834,Knight and Day,[A fugitive couple goes on a glamorous and som...,"[Action, Comedy]","[spy, airport, gas station, garage, pilot, cha...","[Tom Cruise, Cameron Diaz, Peter Sarsgaard]",James Mangold
2620,10186,The Rocker,"[Rob ""Fish"" Fishman is the drummer in '80s hai...","[Comedy, Music]","[1970s, drums, groupie, musical, rock, heavy m...","[Rainn Wilson, Josh Gad, Christina Applegate]",Peter Cattaneo
4802,14337,Primer,[Friends/fledgling entrepreneurs invent a devi...,"[Science Fiction, Drama, Thriller]","[distrust, garage, identity crisis, time trave...","[Shane Carruth, David Sullivan, Casey Gooden]",Shane Carruth
4728,18925,Facing the Giants,[A losing coach with an underdog football team...,[Drama],"[christian, sport, aftercreditsstinger]","[James Blackwell, Alex Kendrick, Shannen Fields]",Alex Kendrick

In [178]:
df_processed['genres'] = df_processed['genres'].apply(lambda x: [genre.replace(" ", "") for genre in x])
df_processed['cast'] = df_processed['cast'].apply(lambda x: [cast.replace(" ", "") for cast in x])
df_processed['crew'] = df_processed['crew'].apply(lambda x: [x] if pd.notna(x) else None)
df_processed['keywords'] = df_processed['keywords'].apply(lambda x: [genre.replace(" ", "") for genre in x])
df_processed.sample(10)

,movie_id,title,overview,genres,keywords,cast,crew
4689,5759,Baghead,[Four actors go to a cabin in the woods to wri...,"[Drama, Comedy, Horror]","[mumblecore, mumblegore]","[RossPartridge, SteveZissis, GretaGerwig]",[Jay Duplass]
101,49538,X-Men: First Class,[Before Charles Xavier and Erik Lensherr took ...,"[Action, ScienceFiction, Adventure]","[cia, mutant, mine, marvelcomic, superhero, ba...","[JamesMcAvoy, MichaelFassbender, JenniferLawre...",[Matthew Vaughn]
4136,335866,Circle,[Could you trust a jury of your peers with you...,"[Horror, ScienceFiction]","[survival, execution, stranger, nomemory]","[JulieBenz, CarterJenkins, CesarGarcia]",[Aaron Hann]
1116,11812,The Sweetest Thing,[Christina's love life is stuck in neutral. Af...,"[Romance, Comedy]","[roommate, marriage, aftercreditsstinger, duri...","[CameronDiaz, ChristinaApplegate, ThomasJane]",[Roger Kumble]
483,9562,Timeline,[A group of archaeological students become tra...,"[Action, Adventure, ScienceFiction]","[professor, timetravel, quantummechanics, hund...","[PaulWalker, FrancesO'Connor, GerardButler]",[Richard Donner]
988,69668,Dream House,"[Publisher, Will Atenton quits a lucrative jo...","[Drama, Thriller, Mystery]","[housefire, extensionladder, lastdayonjob]","[DanielCraig, NaomiWatts, RachelWeisz]",[Jim Sheridan]
4235,507,Killing Zoe,[Zed (Eric Stoltz) is an American vault-cracke...,"[Action, Crime, Drama, Thriller]","[paris, prostitute, robbery, drugabuse, aids, ...","[EricStoltz, JulieDelpy, Jean-HuguesAnglade]",[Roger Avary]
1264,78698,Big Miracle,"[Based on an inspiring true story, a small-to...","[Adventure, Drama, Romance]","[whale, alaska, aftercreditsstinger, duringcre...","[DrewBarrymore, JohnKrasinski, KristenBell]",[Ken Kwapis]
4252,361505,Me You and Five Bucks,"[A womanizing yet lovable loser, Charlie, a ...","[Romance, Comedy, Drama]",[],[],None
4246,51820,The Salon,[A Beauty shop owner finds romance as she stru...,[Comedy],[independentfilm],"[DondreWhitfield, KymWhitley, MonicaCalhoun]",[Mark Brown]

In [190]:
df_processed.isna().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
tags        0
dtype: int64

In [191]:
df_processed['tags'] = df_processed['overview'] + df_processed['genres'] + df_processed['keywords'] + df_processed['cast'] + df_processed['crew']

df_processed['tags'] = df_processed['tags'].apply(lambda x: ",".join(x).replace(",", " "))

df_processed['tags']

0       In the 22nd century  a paraplegic Marine is di...
1       Captain Barbossa  long believed to be dead  ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary  former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed  Sealed  Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4776, dtype: object

In [192]:
df_processed.sample(10)

,movie_id,title,overview,genres,keywords,cast,crew,tags
159,557,Spider-Man,[After being bitten by a genetically altered s...,"[Fantasy, Action]","[lossoflover, spider, thanksgiving, badboss, h...","[TobeyMaguire, WillemDafoe, KirstenDunst]",[Sam Raimi],After being bitten by a genetically altered sp...
812,10530,Pocahontas,[History comes gloriously to life in Disney's ...,"[Adventure, Animation, Drama, Family]","[cultureclash, settler, forbiddenlove, colony,...","[IreneBedard, MelGibson, DavidOgdenStiers]",[Mike Gabriel],History comes gloriously to life in Disney's e...
813,1924,Superman,[Mild-mannered Clark Kent works as a reporter ...,"[Action, Adventure, Fantasy, ScienceFiction]","[savingtheworld, journalist, dccomics, crimefi...","[ChristopherReeve, MarlonBrando, MargotKidder]",[Richard Donner],Mild-mannered Clark Kent works as a reporter a...
4443,9813,The Quiet,"[After her widowed father dies, deaf teenager...","[Drama, Thriller]","[depression, christmasparty, deaf-mute, daught...","[ElishaCuthbert, CamillaBelle, EdieFalco]",[Jamie Babbit],After her widowed father dies deaf teenager D...
1790,11460,Red Eye,[After attending the funeral of her grandmothe...,"[Horror, Thriller]","[hostage, menace, hitman, airplane]","[RachelMcAdams, CillianMurphy, BrianCox]",[Wes Craven],After attending the funeral of her grandmother...
2676,1931,Stomp the Yard,"[After the death of his younger brother, a tr...","[Drama, Music]","[loveatfirstsight, lossofbrother, breakdance, ...","[ColumbusShort, MeaganGood, Ne-Yo]",[Sylvain White],After the death of his younger brother a trou...
1253,1887,Marie Antoinette,[The retelling of France's iconic but ill-fate...,"[Drama, History]","[shoe, voiceover, rite, theatreaudience, bride...","[KirstenDunst, JasonSchwartzman, JudyDavis]",[Sofia Coppola],The retelling of France's iconic but ill-fated...
1784,951,Kindergarten Cop,[Hard-edged cop John Kimble gets more than he ...,[Comedy],"[crimefighter, cook, drugdealer, dyinganddeath...","[ArnoldSchwarzenegger, PenelopeAnnMiller, Pame...",[Ivan Reitman],Hard-edged cop John Kimble gets more than he b...
3525,14351,Crossover,"[The clock strikes midnight, money changes ha...","[Action, Adventure, Drama]","[streetgang, blackpeople, sport, highschoolspo...","[AnthonyMackie, MarcelloThedford, AllenPayne]",[Preston A. Whitmore II],The clock strikes midnight money changes hand...
2092,10678,Bringing Down the House,"[Straight-laced lawyer, Peter Sanderson (Stev...",[Comedy],"[prison, ex-boyfriend, support, escape, lawyer]","[SteveMartin, QueenLatifah, EugeneLevy]",[Adam Shankman],Straight-laced lawyer Peter Sanderson (Steve ...

In [193]:
vec_model = CountVectorizer(stop_words = "english")

df_vectorized_tags = vec_model.fit_transform(df_processed.tags)

In [194]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(df_vectorized_tags)

In [195]:
def recommend(movie):
    movie_index = df_processed[df_processed["title"] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse = True , key = lambda x: x[1])[1:6]
    
    for i in movie_list:
        print(df_processed.iloc[i[0]].title)

In [200]:
recommend("Shrek")

Shrek 2
Shrek Forever After
Shrek the Third
Aladdin
Puss in Boots